{% extends 'base.html.twig' %}

{% block title %}Edit Engagement{% endblock %}

{% block body %}

    <h1 class="mb-5">Edit Engagement</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">    {{ include('engagement/_form.html.twig', {'button_label': 'editer'}) }}
        </button>
       
        <button type="button" class="btn btn-secondary">    {{ include('engagement/_delete_form.html.twig') }}
        </button>
        <button type="button" class="btn btn-secondary">    <a href="{{ path('engagement_index') }}">retour à la liste</a>
        </button>
      </div>




{% endblock %}
